.tweet-content {
  width: 100%;
  height: auto;
  font-family: "Geologica", sans-serif;
}

.tweet-nav {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.541);
  overflow: hidden;
  font-family: "Geologica", sans-serif;
}

.back-icon {
  width: 50px;
  margin-right: 20px;
  position: relative;
}

.back-symbol {
  transition: 0.2s;
  padding: 5px;
  cursor: pointer;
}

.back-symbol:hover {
  background-color: var(--bordergray);
  border-radius: 50%;
}

.about {
  width: 60px;
  /* background-color: red; */
  position: relative;
}

.about-name {
  font-size: 20px;
  font-weight: bold;
  padding: 1px;
}

.author-details {
  height: 70px;
  /* background-color: green; */
  overflow: hidden;
}

.author-photo{
    width: 12%;
    overflow: hidden;
    /* background-color: blue; */
}

.author-names{
    width: 77%;
    margin: auto;
}

.author-username{
    color: var(--graytext)
}

.tweet-menu{
    width: 10%;
    position: relative;
}

.tweet-caption {
  height: auto;
  color: #e7e9ea;
  line-height: 24px;
  font-size: 17px;
  font-weight: 400;
  /* background-color: red; */
}

.tweet-text{
    padding: 10px 20px;
}

.tweet-main-media {
  height: auto;
  padding: 10px 0;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  /* background-color: blue; */
}

.tweet-main-media{
    width: 520px;
    height: 500px;
    margin: auto;
    border: 1px solid var(--bordergray)
}

.tweet-info,
.tweet-insight,
.tweet-action {
  width: 95%;
  height: 50px;
  margin: auto;
  border-bottom: 1px solid var(--bordergray);
  position: relative;
  font-family: "Geologica", sans-serif;
}

.add-tweet-comment {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid var(--bordergray);
}

.composer-pic{
  width: 12%;
  position: relative;
}

.add-com-pic{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;

}

.composer-form{
  width: 70%;
  position: relative;
}

.composer-form form{
  display: block;
  width: 100%;
}

.comm-input{
  width: 100%;
  padding: 20px 5px;
  background-color: black;
  border: none;
  outline: none !important;
  color: white;
  font-size: 21px;
  /* border:1px solid red; */
}

.comm-input::placeholder{
  font-size: 21px;
}

.reply-btn{
  width: 18%;
  position: relative;
  /* background-color: red; */
  height: 80%;
}


.comments {
  height: auto;
  /* background-color: blue; */
}

.action-div {
  width: 20%;
  position: relative;
  /* border: 1px solid white; */
}

.tweet-info p{
  /* background: blue; */
  width: 100%;
  color: var(--graytext)
}

.hold-dot{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    /* background-color: green; */
}

.dot{
    display: inline-block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: var(--graytext);
} 

.hold-insight{
    width: 100%;
    margin: auto;
    color: var(--graytext)
}

.hold-insight div{
    margin-right: 20px;
    /* border: 1px solid white; */
}

.hold-insight div span{
    color: white;
}

.comm-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px 0 0 20px;
  background-position: center;
  background-size: cover;
}