/* home content */
.top-home {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid var(--bordergray);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.886);
  /* filter: blur(10px); */
}

.post-tweet {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid var(--bordergray);
  margin: auto;
  overflow: hidden;
}

.tweeter-dp {
  width: 12%;
  height: 100%;
  /* background-color: pink; */
}

.tweet-pic {
  width: 45px;
  height: 45px;
  margin: 15px auto;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  border-radius: 50%;
}

.tweet-section {
  width: 88%;
  height: 100%;
  /* background-color: blue; */
}

.tweet-input-field {
  height: 60px;
  position: relative;
  /* background-color: green; */
}

.tweet-input-field form {
  width: 100%;
  display: block;
  /* background-color: yellow; */
}

.tweet-input {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px 0;
  font-size: 21px;
  display: block;
  margin: auto;
  border: none;
  outline: none !important;
  font-family: "Work Sans", sans-serif;
}

.tweet-actions {
  height: 45px;
  /* background-color: red; */
}

.tweets-btns {
  width: 250px;
  position: relative;
}

.centered-space {
  width: 170px;
}

.post-tweet-btn {
  width: 100px;
  position: relative;
}

.hold-tweet-btns {
  width: 95%;
  height: auto;
}

.tweet-ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 17px;
  position: relative;
  color: var(--bluelight);
}

/* center content */
