.profile-section {
  font-family: "Work Sans", sans-serif;
}

.profile-header{
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--bordergray);
  /* background-color: blue; */
}

.hold-header-content{
  height: auto;
  position: relative;
  /* background-color: green; */
}

.header-nav{
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.541);
  overflow: hidden;
}

.back-icon{
  width: 50px;
  margin-right: 20px;
  position: relative;
}

.back-symbol{
  transition: 0.2s;
  padding: 5px;
  cursor: pointer;
}

.back-symbol:hover{
  background-color: var(--bordergray);
  border-radius: 50%;
}

.about{
  width: auto;
  position: relative;
}


.about-name{
  font-size: 20px;
  font-weight: bold;
  padding: 1px;
}

.tweets-num{
  position: absolute;
  bottom: 5px;
  font-size: 14px;
  color: var(--graytext)
}

.cover-photo{
  height: 210px;
}

.profile-data{
  /* height: auto; */
  /* background-color: yellow; */
}
.cover-photo, .profile-photo{
  background-position: center;
  background-size: cover;
}

.profile-photo{
  display: inline-block;
  position: relative;
  margin-bottom: -120px;
  top: 43%;
  left:15%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid black;
}

.edit-profile{
  text-align: right;
  padding: 15px;
  margin-top: -30px;
}

.edit-profile span{
  padding: 5px 15px;
  border-radius: 40px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.edit-profile span:hover{
  background-color: rgb(30, 30, 30);
}


.hold-profile-data{
  margin-top: 30px;
  padding-left: 20px;
  height: auto;
  /* background-color: blue; */
}

.profile-name{
  font-size: 20px;
  font-weight: bold;
}

.user-name, .calendar-div, .location-div, .audience{
  color: var(--graytext);
  font-family: "Raleway", sans-serif;
}

.user-name{
  font-size: 15px;
}

.bio{
  margin-top: 15px;
}

.location-div, .calendar-div{
  width: auto;
  margin-right: 20px;
  font-size: 15px;
}

.location-icon, .calendar-icon{
  width: 20px;
  margin-right: 5px;
  position: relative;
}

.audience{
  margin-top: 10px;
  font-size: 15px;
}

.audience span{
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.fol-num{
  color: white;
  font-weight: bold;
}

.profile-nav{
  width: 100%;
  height: auto;
  margin-top: 20px;
  /* background-color: red; */
}

.each-nav{
  padding: 15px 31.5px;
  margin: auto;
  transition: 0.2s;
}

.each-nav:hover{
  background-color: rgb(19, 19, 19);
}