:root{
  --offblack: #1e2124c9;
  --bordergray: rgb(58, 58, 58);
  --twitterblue: rgb(0, 140, 255);
  --bluelight: rgb(29, 153, 255);
}

.parent-container{
  width: 1300px;
  margin: auto;
  /* background-color: blue; */
  font-family: 'Roboto', sans-serif;
}

.hold-page{
  width: 100%;
  height: auto;
  margin: auto;
  /* background-color: red; */

}

.left-section, .right-section, .content-section{
  /* border: 1px solid white; */
  height: 100%;
}

.left-section{
  width: 300px;
  position: sticky;
  top: 0;
  height: 100vh;
  /* background-color: red; */
}

.content-section{
  width: 600px;
  border: 1px solid rgb(58, 58, 58);
}

.right-section{
  width: 400px;
  height: auto;
}

/* left section */

.home-nav{
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  /* background-color: blue; */
}

.home-icon{
  width: 35px;
}


.nav-link{
  width: 80%;
  /* height: 50px; */
  /* overflow: hidden; */
  margin: auto;
  margin-bottom: 1px;
  /* background-color: blue; */
  position: relative;
}

.nav-icon{
  width: 50px;
  position: relative;
  /* border: 1px solid black; */
}

.nav-icon span{
  /* background-color: var(--offblack); */
  padding: 12px 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.nav-desc{
  width: 160px;
  padding: 12px 30px 12px 0;
  font-size: 21px;
  margin-left: -1px;
  z-index: 5;
  /* background-color: red; */
}

.nav-desc span{
  padding: 12px 30px 12px 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* background-color: var(--offblack); */
}

.tweet-now{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 80%;
  /* margin-left: 10px; */
  margin: auto;
  margin-top: 5px;
  padding: 15px 0;
  border-radius: 100px;
  background-color: var(--twitterblue);
}
/* left section */

/* center content */
.top-home{
  width: 100%;
  height: 110px;
  border-bottom: 1px solid var(--bordergray);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.886);
  /* filter: blur(10px); */
}

.post-tweet{
  width: 100%;
  height: 110px;
  border-bottom: 1px solid var(--bordergray);
  margin: auto;
  overflow: hidden;
}

.tweeter-dp{
  width: 12%;
  height: 100%;
  /* background-color: pink; */
}

.tweet-pic{
  width: 45px;
  height: 45px;
  margin: 15px auto;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  border-radius: 50%;
}

.tweet-section{
  width: 88%;
  height: 100%;
  /* background-color: blue; */
}

.tweet-input-field{
  height: 60px;
  position: relative;
  /* background-color: green; */
}

.tweet-input-field form{
  width: 100%;
  display: block;
  /* background-color: yellow; */
}

.tweet-input{
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px 0;
  font-size: 21px;
  display: block;
  margin: auto;
  border: none;
  outline: none !important;

}

.tweet-actions{
  height: 45px;
  /* background-color: red; */
}

.tweets-btns{
  width: 250px;
  /* background-color: blue; */
  position: relative;
}

.centered-space{
  width: 170px;
  /* background-color: black; */
}

.post-tweet-btn{
  width: 100px;
  /* background-color: aquamarine; */
  position: relative;
}

.post-tweet-btn button{
  border: none;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgb(1, 103, 186);
  color: rgb(188, 188, 188);
}

.hold-tweet-btns{
  width: 95%;
  height: auto;
  /* background-color: yellow; */
}

.tweet-ico{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 17px;
  /* background-color: pink; */
  position: relative;
  color: var(--bluelight);
}


.tweets{
  width: 600px;
  height: auto;
  margin: auto;
  /* background-color: blue; */
  padding-top: 10px;
}

.author-photo, .tweet-content{
  /* border: 1px solid white; */
}

.author-photo{
  width: 70px;
  height: auto;
  /* background-color: pink; */
}

.author-dp{
  width: 45px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.tweet-content{
  width: 530px;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  /* margin: auto; */

}

.author-name{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 2px
  /* border: 1px solid yellow; */
}

.profile-name{
  font-weight: bold;
}

.user-name{
  padding-left: 3px;
}

.author-caption{
  width: 100%;
  height: auto;
  line-height: 1.4;
  font-size: 14px;
  /* border: 1px solid white; */
}

.tweet-media{
  width: 80%;
  height: 460px;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid var(--bordergray);
}

.tweet-insight{
  width: 530px;
  height: 40px;
  /* margin: auto; */
  margin-top: 5px;
  /* background-color: green; */
}

.action-span{
  width: 20%;
  position: relative;
  /* background-color: red;
  border: 1px solid white; */
}

.action-icon, .action-fig{
  font-weight: bold;
  color: rgb(88, 88, 88);
  /* border: 1px solid var(--bordergray); */
  display: inline-block;
  position: relative;
}

.action-icon{
  width: 30px;
}

ion-icon{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action-fig{
  width: 40px;
  font-size: 13px;
}

/* center content */


/* right section */
.right-search{
  width: 100%;
  height: 58px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  background-color: black;
  overflow: none;
  z-index: 10;
}

.right-form{
  position: relative;
  display: inline-block;
  width: 350px;
  height: 45px;
  margin: auto;
  /* background-color: pink; */
  margin: auto;
}

.hold-search{
  width: 100%;
  height: 45px;
  margin: auto;
  /* background-color: green; */
}

.search-icon{
  width: 60px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: var(--offblack);
  display: inline-block;
  position: relative;
  /* background-color: red; */
}

.right-input{
  background-color: var(--offblack);
  margin-left: -1px;
  display: inline-block;
  width: 290px;
  height: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-left: 20px;
  border: none;
  outline: none !important;
  color: white;
}



.right-input::placeholder{
  font-size: 16px;
}

.verified-banner{
  height: 130px;
  width: 350px;
  margin: auto;
  margin-top: 15px;
  background-color: var(--offblack);
  border-radius: 25px;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.verified-info{
  width: 90%;
  height: 80%;
  margin: auto;
  /* background-color: blue; */
  line-height: 2em;
  font-weight: bold;
}

.get-ver{
  font-size: 22px;
}

.subs-ver{
  font-size: 16px;
}

.ver-btn{
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--twitterblue);
}



.trends-banner{
  font-family: 'Raleway', sans-serif;
  width: 350px;
  height: auto;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 40px;
  background-color: var(--offblack);
  /* border: 2px solid black; */
  overflow: hidden;
  border-radius: 25px;
}

.trends-title{
  /* border: 1px solid white; */
  padding: 10px 0;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.banner-content{
  width: 350px;
  height: 500px;
}

.banner-hold{
  width: 350px;
  height: auto;
}

.banner-hold:hover{
  background-color: #292d31c9;
  transition: 0.1s;
}

.trends-data, .trends-menu{
  /* border: 1px solid white; */
  /* height: 100px; */

}

.trends-data{
  width: 300px;
  padding: 10px 20px;
  line-height: 1.5;
}

.trends-menu{
  width: 50px;
  position: relative;
}

.trend-sub-title{
  font-size: 14px;
  color: #71767b;
}

.trend-main-title{
  font-size: 16px;
}

.trend-data{
  font-size: 14px;
  color: #71767b;

}


.follow-banner{
  width: 350px;
  height: 400px;
  background-color: var(--offblack);
  margin: auto;
  margin-top: 20px;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  /* border: 2px solid white; */
}

.follow-title{
  /* background-color: red; */
  padding: 20px;
  font-size: 21px;
  font-weight: bold;
}

.follow-account{
  width: 100%;
  height: 60px;
  /* border: 2px solid black */
}

.follow-account:hover{
  background-color: #292d31c9;
}

.account-img, .account-info, .follow-btn{
  /* border: 1px solid red; */
  position: relative;
}

.account-img{
  width: 70px;
}

.follow-img{
  width: 45px;
  border-radius: 5px;
}

.account-info{
  width: 190px;
}

.hold-info{
  /* background-color: red; */
  width: 100%;
  /* padding-left: 5px; */

}

.account-name{
  font-size: 15px;
  font-weight: bold;
}

.account-username{
  font-size: 15px;
  color: #71767b;
}

.account-verified{
  /* padding: 10px; */
  display: inline-block;
  /* background-color: red; */
  position: absolute;
  margin: 1px;
  margin-left: 4px;
}

.verified-icon{
  width: 20px;
}

.follow-btn{
  width: 80px;
  position: relative;
}

.follow-btn button{
  padding: 8px 17px; 
  border-radius: 100px;
  font-weight: bold;
}

/* right section */