:root{
  --offblack: #1e2124c9;
  --bordergray: rgb(58, 58, 58);
  --twitterblue: rgb(0, 140, 255);
  --bluelight: rgb(29, 153, 255);
  --graytext: #71767b;
}

.parent-container{
  width: 1300px;
  margin: auto;
  /* background-color: blue; */
  font-family: 'Roboto', sans-serif;
}

.hold-page{
  width: 100%;
  height: auto;
  margin: auto;
  /* background-color: red; */

}








