
/* left section */
a{
  color: white;
}

.left-section{
  width: 300px;
  height: 100%;
  position: sticky;
  top: 0;
  height: 100vh;
}


.home-nav{
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding-left: 10px;
  }
  
  .home-icon{
    width: 45px;
    height: 45px;
  }
  
  
  .nav-link{
    width: 85%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
  }


  .nav-link:hover span{
    background-color: var(--offblack);
  }

 .active{
    /* color: red; */
    font-weight: 600;
  }

  .nav-icon{
    width: 50px;
    position: relative;
    /* border: 1px solid black; */
  }

  .nav-icon-symbols{
    font-size: 30px;
  }
  
  .nav-icon span{
    /* background-color: var(--offblack); */
    padding: 12px 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    /* background-color: black; */
    transition: 0.2s;
  }
  
  .nav-desc{
    width: 160px;
    padding: 12px 30px 12px 0;
    font-size: 21px;
    margin-left: -1px;
    z-index: 5;
    /* background-color: red; */
  }
  
  .nav-desc span{
    padding: 12px 30px 12px 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    /* background-color: black; */
    transition: 0.2s;

    /* background-color: var(--offblack); */
  }
  
  .tweet-now{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    /* margin-left: 10px; */
    margin: auto;
    margin-top: 5px;
    padding: 15px 0;
    border-radius: 100px;
    background-color: var(--twitterblue);
  }

  .login, .login-field{
    padding: 0 10px;
    width: 280px;
    height: 70px;
    border-radius: 90px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -20px;
    transition: 0.2s;
    cursor: pointer;
  }

  .login:hover{
    background-color: var(--offblack);
  }

  .hold-user-pic, .user-details, .log-menu{
    height: 100%;
  }

  .hold-user-pic{
    width: 40px;
    position: relative;
  }

  .user-pic{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .user-details{
    width: 180px;
    height: 40px;
    margin: auto;
    padding-left: 10px;
    /* background-color: pink; */
  }

  .user-name{
    color: var(--graytext)
  }

  .log-menu{
    width: 30px;
    position: relative;
    /* background-color: red; */
  }

  .login-field{
    background-color: var(--twitterblue);
    font-size: 22px;
    font-weight: bold;

  }

  .login-text p{
    text-align: center;
    background-color: green;
    color: blue;
  }
  /* left section */